/* reset */
body, html, div, ul, li, button, h1, header,
aside, input[type=text], input[type=submit] {
    margin: 0;
    padding: 0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    list-style: none;
}

/* utilities */
.group {
    content: "";
    display: table;
    clear: both;
}

/* landing page basics */

header {
    width: 100%;
}

header > h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-weight: 900;
    letter-spacing: 2;
    font-style: italic;
}

#content {
    width: 800px;
    margin: 20px auto;
}

#search-container {
    text-align: center;
    margin: auto;
}

#search-container > form > input[name=etsy-search] {
    width: 450px;
    font-size: 34px;
    float: left;
    padding: 10px;
}

#search-container > form > input[name=etsy-search]:focus {
    outline: none;
}

#search-container > form > input[type=submit],
form > button {
    float: left;
    padding: 22.5px;
    border: 1px solid #aaa;
    background-color: #e4e4e4;
    background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);
    color: #333;
    line-height: 16px;
    font-size: 25px;
    cursor: pointer;
    margin-left: -1px;
}

button#brand-new-search {
    font-size: 15px;
    padding: 22.5px 10px;
}

/* search results */

#results {
    margin-top: 20px;
}

#results li.result {
    background-color: red;
    width: 250px;
    height: 250px;
    float: left;
    margin: 6px;
}

/* sidebar filter */

#filter-search {
    background-color: green;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 244;
    left: 50;
}