/* reset */
body, html, div, ul, li, button, h1, header,
aside, input[type=text], input[type=submit], h5, p, a {
    margin: 0;
    padding: 0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    list-style: none;
    color: black;
    text-decoration: none;
}

/* utilities */
.group {
    content: "";
    display: table;
    clear: both;
}

/* landing page basics */

header {
    width: 100%;
}

header > h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-weight: 900;
    letter-spacing: 2;
    font-style: italic;
}

#content {
    width: 820px;
    margin: 20px auto;
}

#search-bar > form {
    text-align: center;
    margin: auto;
}

#search-bar > form > input[name=etsy-search] {
    width: 450px;
    font-size: 34px;
    float: left;
    padding: 10px;
}

#search-bar > form > input[name=etsy-search]:focus {
    outline: none;
}

#search-bar > form > input[type=submit],
form > button {
    float: left;
    padding: 22.5px;
    border: 1px solid #aaa;
    background-color: #e4e4e4;
    background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);
    color: #333;
    line-height: 16px;
    font-size: 25px;
    cursor: pointer;
    margin-left: -1px;
}

button#brand-new-search {
    font-size: 15px;
    padding: 22.5px 10px;
}

/* search results */

#results-container {
    margin-top: 20px;
}

#results li.result {
    background-color: rgb(240,240,240);
    padding: 10px;
    width: 170px;
    height: 165px;
    float: left;
    margin: 6px;
}

/* weird positioning behaviour */

#results div.picture-area {
    max-height: 135px
}

#results > li.result h5.title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* see more! */
#results > li.result p.see-more {
    position: relative;
    z-index: 2;
    top: -32;
    background-color: rgb(240,240,240);
    left: 0;
    width: 170px;
    text-overflow: ellipsis;
    font-size: 13px;
    opacity: 0;
}

#results > li.result:hover p.see-more {
    opacity: 1;
}

#results > li.result p.views {
    width: 48%;
    font-size: 10px;
    text-align: left;
    display: inline-table;
}

#results > li.result p.price {
    width: 50%;
    text-align: right;
    font-size: 13px;
    display: inline-table;
}

#results > li.result div.picture-area > img {
    height: 135px;
    width: 170px;
}

#results > li.result div.picture-area > div.description {
    display: block;
    position: relative;
    top: -135px;
    height: 125px;
    background-color: rgb(230,230,230);
    overflow-y: hidden;
    opacity: 0;
    padding: 5px;
    z-index: 5;
}

#results > li.result:hover div.picture-area > div.description {
    opacity: .70;
}

#results > li.result:hover div.picture-area {
    min-height: 135px;
    display: block;
}

/* spinner gif on listings page */
#listing-spinner {
    margin: 40px;

    /* border: solid; */
}
div.spinner.information > h5.title {
    position: relative;
    
    top: 165;
    font-size: 17;
    font-style: italic;
    left: 10;
}

/* sidebar filter */

#filter-search {
    background-color: green;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 244;
    left: 50;
}