/* reset */
body, html, div, ul, li, button, h1, header,
aside, input {
	margin: 0;
	padding: 0;
	font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
    list-style: none;
}

/* utilities */
.group {
	content: "";
	display: table;
	clear: both;
}

/* landing page basics */

header {
    width: 100%;
}

header > h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-weight: 900;
}

#content {
    width: 800px;
    margin: 20px auto;
}

#search-container {
    text-align: center;
    margin: auto;
}

#search-container > input[name=etsy-search] {
    width: 500px;
    font-size: 34px;
    float: left;
    padding: 10px;
}

#search-container > input[name=etsy-search]:focus {
    outline: none;
}

button#new-search {
    padding: 25px;
    font-size: 25px;
    line-height: 13px;
    float: left;
}

/* search results */

#results {
    margin-top: 20px;
}

#results li.result {
	background-color: red;
	width: 250px;
	height: 250px;
	float: left;
	margin: 6px;
}