<a href="#">
	<div class="picture-area">
		<img id="listing-spinner" src="./resources/spiffygif_110x110.gif">
	</div>

	<div class="spinner information">
		<h5 class="title">Loading More Listings</h5>
	</div>
</a>