<form class="group">
	<input type="text" name="etsy-search" placeholder="Refine Your Search...">
	<input type="submit" value="Refine Search">
	<button id="brand-new-search">New Search</button>
</form>

<p id="status-text">
	Browsing for: 
</p>